<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kosmo.project_back.address.mapper.AddressMapper">

    <!-- 주소 목록 조회 -->
    <select id="selectAddressesByUserId" 
        resultType="kr.co.kosmo.project_back.address.dto.AddressDto">
        SELECT 
            id,
            user_id         AS userId,
            recipient,
            recipient_phone AS recipientPhone,
            postcode,
            address,
            detail_address  AS detailAddress,
            is_default      AS isDefault
        FROM bg_address
        WHERE user_id = #{userId}
        ORDER BY is_default DESC, id DESC
    </select>

    <!-- 주소 추가 -->
    <insert id="insertAddress"
            parameterType="kr.co.kosmo.project_back.address.dto.AddressDto"
            useGeneratedKeys="true" 
            keyProperty="id">
        INSERT INTO bg_address (
            user_id,
            recipient,
            recipient_phone,
            postcode,
            address,
            detail_address,
            is_default
        ) VALUES (
            #{userId},
            #{recipient},
            #{recipientPhone},
            #{postcode},
            #{address},
            #{detailAddress},
            #{isDefault}
        )
    </insert>

    <!-- 주소 수정 -->
   <update id="updateAddress">
        UPDATE bg_address
        <set>
            <if test="recipient != null">recipient = #{recipient},</if>
            <if test="recipientPhone != null">recipient_phone = #{recipientPhone},</if>
            <if test="postcode != null">postcode = #{postcode},</if>
            <if test="address != null">address = #{address},</if>
            <if test="detailAddress != null">detail_address = #{detailAddress},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            id = #{id}
        </set>
        WHERE id = #{id} 
            AND user_id = #{userId} 
    </update>

    <!-- 주소 삭제 -->
    <delete id="deleteAddress">
        DELETE FROM bg_address
        WHERE id = #{addressId} 
            AND user_id = #{userId} 
    </delete>

    <!-- 기본 배송지 해제 -->
    <update id="clearDefaultAddress">
        UPDATE bg_address
        SET is_default = 0
        WHERE user_id = #{userId} 
    </update>

    <!-- 회원 탈퇴 -->
    <delete id="deleteByUserId" parameterType="int">
        DELETE FROM bg_address
        WHERE user_id = #{userId}
    </delete>

</mapper>
