<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kosmo.project_back.admin.mapper.AdminQuestionImageMapper">

    <select id="findImagesByQuestionId" parameterType="int"
            resultType="kr.co.kosmo.project_back.admin.dto.QuestionImageDto">
        SELECT
            id,
            image_url AS imageUrl
        FROM bg_question_image
        WHERE question_id = #{questionId}
    </select>

    <insert id="insertQuestionImage">
        INSERT INTO bg_question_image (question_id, image_url)
        VALUES (#{questionId}, #{imageUrl})
    </insert>

</mapper>







