<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kosmo.project_back.order.mapper.OrderMapper">

    <!-- 주문 1건 생성 -->
    <insert id="insertOrder"
            parameterType="kr.co.kosmo.project_back.order.dto.OrderRequestDto">
        INSERT INTO Bg_Order
            (user_id, payment_method, order_status, address_id, payment_price)
        VALUES
            (#{userId}, #{paymentMethod}, '결제 완료', #{addressId}, #{paymentPrice});
            <!-- 방금 생성된 값 가져오기 -->
        <selectKey keyProperty="orderId" resultType="int" order="AFTER">
            SELECT last_insert_rowid()
        </selectKey>
    </insert>

    <!-- 주문 상품 여러 건 생성 -->
    <insert id="insertOrderItems">
        INSERT INTO Bg_Order_item
            (order_id, product_id, amount, price)
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{orderId}, #{item.productId}, #{item.quantity}, #{item.price})
        </foreach>
    </insert>

    <!-- 주문 내역 개수 조회(페이징) -->
    <select id="countOrderList" resultType="int" parameterType="kr.co.kosmo.project_back.order.dto.OrderSearchDto">
        SELECT COUNT(*)
        FROM Bg_Order
        WHERE user_id = #{userId}
    </select>

    <!-- 주문 / 구매내역 조회 -->
    <select id="findOrderList"
            resultType="kr.co.kosmo.project_back.order.dto.OrderResponseDto"
            parameterType="kr.co.kosmo.project_back.order.dto.OrderSearchDto">
        SELECT
            id              AS orderId,
            user_id         AS userId,
            payment_method  AS payType,
            address_id      AS addressId,
            payment_price   AS totalPrice,
            created_at      AS createdAt
        FROM Bg_Order
        WHERE user_id = #{userId}
        ORDER BY created_at DESC 
        LIMIT #{size} 
        OFFSET #{offset} 
    </select>

    <!-- 주문 상세 상품 조회 -->
    <select id="findOrderItemsByOrderId"
            parameterType="int"
            resultType="kr.co.kosmo.project_back.cart.dto.CartDto">
        SELECT 
            oi.product_id       AS productId,
            p.product_name      AS productName,
            oi.price,
            oi.amount           AS quantity
        FROM Bg_Order_item oi
        JOIN Bg_Product p ON p.id = oi.product_id 
        WHERE oi.order_id = #{orderId} 
    </select>

    <!-- 리뷰작성 가능 여부 확인 -->
    <select id="countCompletedOrder" resultType="int">
        SELECT COUNT(*)
        FROM Bg_Order o 
        JOIN Bg_Order_item oi
            ON o.id = oi.order_id 
        WHERE o.user_id = #{userId}
            AND oi.product_id = #{productId} 
            AND TRIM(o.order_status) = '결제 완료'
    </select>

    <!-- 마이페이지 주문 내역 조회 -->
    <select id="findOrderListByUserId"
            resultType="kr.co.kosmo.project_back.order.dto.OrderResponseDto">
        SELECT
            id                  AS orderId,
            user_id             AS userId,
            order_status        AS status,
            payment_method      AS payType,
            address_id          AS addressId,
            payment_price       AS totalPrice,
            created_at          AS createdAt
        FROM Bg_Order
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

    <select id="checkDuplicateAlarm" resultType="int">
        SELECT COUNT(*) 
        FROM Bg_Alarm 
        WHERE user_id = #{userId} 
        AND message LIKE '%' || #{orderNo} || '%' 
        AND message LIKE '%' || #{status} || '%'
    </select>
    
    <update id="updateOrderStatus">
        UPDATE Bg_Order
        SET order_status = #{status}
        WHERE id = #{orderId}
    </update>

    <select id="findOrderById" resultType="kr.co.kosmo.project_back.order.dto.OrderResponseDto">
        SELECT id AS orderId, user_id AS userId, order_status AS status FROM Bg_Order WHERE id = #{orderId}
    </select>

</mapper>








