<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kosmo.project_back.product.mapper.ProductMapper">

<!-- 상품상세 조회 -->
<select id="findByProductId"
        parameterType="int"
        resultMap="ProductDetailMap">
    SELECT
        p.id              AS productId,           
        p.product_name    AS productName,
        p.content,
        p.price,
        p.origin_name     AS originName,
        p.image_url       AS imageUrl,
        c.category_name   AS categoryName
    FROM Bg_Product p
    LEFT JOIN Bg_Category_product_mapping m ON p.id = m.product_id
    LEFT JOIN Bg_Interest_category c ON m.interest_category_id = c.id
    WHERE p.id = #{productId}
</select>

<resultMap id="ProductDetailMap" type="kr.co.kosmo.project_back.product.dto.ProductDto">
    <id property="productId" column="productId"/>
    <result property="productName" column="productName"/>
    <result property="content" column="content"/>
    <result property="price" column="price"/>
    <result property="originName" column="originName"/>
    <result property="imageUrl" column="imageUrl"/>
    <collection property="categoryNames" ofType="string">
        <result column="categoryName"/>
    </collection>
</resultMap>

<!-- 검색결과 전체 개수 구하는 기능 -->
<select id="countProductList"
        parameterType="kr.co.kosmo.project_back.product.dto.ProductSearchDto"
        resultType="int">
    SELECT COUNT(DISTINCT p.id)
    FROM Bg_Product p
    LEFT JOIN Bg_Category_product_mapping m ON p.id = m.product_id
    LEFT JOIN Bg_Interest_category c ON m.interest_category_id = c.id
    WHERE 1 = 1
    <if test="keyword != null and keyword != ''">
        AND (
            product_name LIKE '%' || #{keyword} || '%'
            OR content LIKE '%' || #{keyword} || '%'
            OR c.category_name LIKE '%' || #{keyword} || '%'
        )   <!-- 키워드가 상품이름에 있던 내용에 있던 일단 다 검색 -->
    </if>
</select>

<!-- 검색결과 목록 조회 -->
<select id="findProductList"
        parameterType="kr.co.kosmo.project_back.product.dto.ProductSearchDto"
        resultType="kr.co.kosmo.project_back.product.dto.ProductDto">
    SELECT DISTINCT
        p.id              AS productId,
        p.product_name    AS productName,
        p.content,
        p.price,
        p.origin_name     AS originName,
        p.image_url       AS imageUrl
    FROM Bg_Product p
    LEFT JOIN Bg_Category_product_mapping m ON p.id = m.product_id
    LEFT JOIN Bg_Interest_category c ON m.interest_category_id = c.id
    WHERE 1 = 1
    <if test="keyword != null and keyword != ''">
        AND (
            p.product_name LIKE '%' || #{keyword} || '%'
            OR p.content LIKE '%' || #{keyword} || '%'
            OR c.category_name LIKE '%' || #{keyword} || '%'
        )
    </if>
    ORDER BY 
    <choose>
        <!-- 가격순 -->
        <when test="sort == 'price'">
            p.price
        </when>
        <!-- 최신순 -->
        <otherwise>
            p.created_at
        </otherwise>
    </choose>

    <choose>
        <when test="order == 'asc'">
            ASC 
        </when>
        <otherwise>
            DESC 
        </otherwise>
    </choose>
    LIMIT #{size}
    OFFSET #{offset}
</select>

    <!-- 상품 가격만 조회 -->
    <select id="findPriceByProductId" 
            parameterType="int"
            resultType="int">
        SELECT price
        FROM Bg_Product
        WHERE id = #{productId} 
    </select>

    <!-- 인기순 -->
    <select id="findTopSalesProducts" resultType="kr.co.kosmo.project_back.product.dto.ProductDto">
        SELECT 
            p.id as productId,
            p.product_name as productName,
            p.price as price,
            p.image_url as imageUrl,
            /* 해당 상품이 주문된 총 수량을 합산 */
            IFNULL(SUM(oi.amount), 0) as salesCount
        FROM Bg_Product p
        LEFT JOIN Bg_Order_item oi ON p.id = oi.product_id
        GROUP BY p.id
        ORDER BY salesCount DESC
        LIMIT 10
    </select>


</mapper>
        



