<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kosmo.project_back.user.mapper.QuestionImageMapper">

    <select id="findImagesByQuestionId" parameterType="int"
            resultType="kr.co.kosmo.project_back.user.dto.QuestionImageDto">
        SELECT
            id AS questionImageId,
            image_url AS imageUrl
        FROM Bg_Question_Image
        WHERE question_id = #{questionId}
    </select>

    <insert id="insertQuestionImage">
        INSERT INTO Bg_Question_Image (question_id, image_url)
        VALUES (#{questionId}, #{imageUrl})
    </insert>

</mapper>
