<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kosmo.project_back.review.mapper.ReviewMapper">

    <!-- 상품별 리뷰 조회 -->
    <select id="findReviewsByProductId"
            parameterType="int"
            resultType="kr.co.kosmo.project_back.review.dto.response.ReviewResponseDto">
        SELECT 
            id          AS reviewId,
            user_id     AS userId,
            content,
            rating,
            created_at  AS createdAt 
        FROM Bg_Review 
        WHERE product_id = #{productId}
        ORDER BY 
        <choose>
            <when test="sort == 'rating'">
                rating DESC
            </when>
            <otherwise>
                created_at DESC 
            </otherwise>
        </choose>

    </select>

</mapper>


